<!DOCTYPE html>
<html>
<head>
  <title>About | Ruby on Rails Tutorial Sample App</title>
</head>
<body>
  <h1> About Jordan </h1>
  <p> Jordan is a 23 year old guy living in San Francisco, CA. </p>
</body>
</html>
