<div class="center jumbotron">

<h1>Stanyan Jams</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p> Check out <a href ="https://www.envoy.com">envoy </a></p>

<%= link_to "Signup now!", '#', class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
